* {
  background-color: #221f1f;
}
.navbar-nav {
  font-size: 90%;
}
.body_bar {
  background-color: #221f1f;
  padding-left: 14px;
}
.tvshow_title {
  display: flex;
  color: #f5f5f1;
}
.card_div {
  background-color: #221f1f;
}
#kids {
  color: #f5f5f1;
  font-size: 0.8em;
}

.icons {
  color: #838383;
}

.col img {
  transition: transform 0.2s;
}

.movie_card:hover {
  transform: scale(1.1);
}

.trending_div {
}
.movie_card {
  max-height: 190px;
  overflow-y: hidden;
  object-fit: cover;
}
.unique_card_div {
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}

.footer-links {
  font-size: 0.8em;
}

.footer-links p {
  margin-bottom: 0.3em;
  color: #838383;
}

.footer-links a {
  color: #838383;
  text-decoration: none;
}

.footer-button {
  color: #838383;
  border-color: #838383;
}

.copyright {
  color: #838383;
  font-size: 0.6em;
}
